# Python CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-python/ for more details
#
version: 2
jobs:
  build:
    docker:
      - image: circleci/python:3.6.8-node
        
    working_directory: ~/repo

    steps:       
      - checkout

      - restore_cache:
          name: Restore pip cache
          keys:
            - v1-dependencies-{{ checksum "requirements.txt" }}

      - run:
          name: Install pip requirements
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install -r requirements.txt

      - save_cache:
          name: Save pip cache
          paths:
            - ./venv
          key: v1-dependencies-{{ checksum "requirements.txt" }}

      - run:
          name: Clone required git repos
          command: |
            . venv/bin/activate
            invoke clonedeps
            
      - run:
          name: Build site
          command: |
            . venv/bin/activate
            invoke preview
            
      - restore_cache:
          name: Restore npm cache
          keys:
            - node-deps-{{ checksum "package-lock.json" }}
            - node-deps-
            
      - run:
          name: Install netlify-cli
          command: npm install netlify-cli
          
      - save_cache:
          name: Save npm cache
          paths:
            - ./node_modules
          key: node-deps-{{ checksum "package-lock.json" }}
          
      - run:
          name: Deploy to netlify
          command: ./node_modules/.bin/netlify deploy --dir=output --prod
           
      - run:
          name: Send webmentions
          command: |
            . venv/bin/activate
            PYTHONPATH=$PYTHONPATH:./repos/pelican-webmention python -m pelican_webmention.send --commit-cache
