{% extends "_base_site_template.html" %}
{% set blogtitle = 'The Soapbox' %}
{% set blogdescription = "Desmond Rivet's Blog" %}

{% block headtags %} 
<link rel="alternate" type="application/rss+xml" href="/blog/index.rss" 
      title="{{blogtitle}} - {{blogdescription}}" />
{% endblock %}

{% block content %}
<div class="row">
  <div id="blogcontent" class="span8">
    <h1 id="blogtitle">{{blogtitle}}</h1>
    <h2 id="blogdescription">{{blogdescription}}</h2>
    {% block blogcontent %}{% endblock %}
  </div> 

  <div id="sidebar" class="span2"> 

    {% if categorycounts %}
    <ul  id="categoryheader" class="nav nav-list span2">
      <li class="nav-header">Categories</li>
      {% for c in categorycounts.children recursive %}
      <li class="nav-item"><a href="{{categorycountbase}}{{c.category}}">{{c.category}} ({{c.count}})</a>
        {% if c.subcategories %}
        <ul>{{ loop(c.subcategories) }}</ul>
        {% endif %}
      </li>
      {% endfor %}
    </ul>  
    {% endif %}

    {% if tagcounts %}
    <ul id="tagheader" class="nav nav-list span2">
      <li class="nav-header">Tags</li>
      {% for tag in tagcounts: %}
      <li class="nav-item"><a href="{{tagbase}}tags/{{tag}}">{{tag}} ({{tagcounts[tag]}})</a></li>
      {% endfor %}
    </ul>
    {% endif %}

    {% if archivecounts %}
    <ul id="archiveheader" class="nav nav-list span2">
      <li class="nav-header">Archives</li>
      {% for year_node in archivecounts.children  %}
      {% for month_node in year_node.children  %}
      <li class="nav-item">
        <a href="{{ "%s%s/%s" % (archivebase, year_node.category, month_node.category)}}">
            {{ "%s-%s" % (year_node.category, month_node.category)}}
          ({{ month_node.count }})</a>
      </li>
      {% endfor %}
      {% endfor %}
    </ul>
    {% endif %}    

  </div>

</div>
{% endblock %}
