{% extends "_base_site_template.html" %}
{% set blogtitle = "The Soapbox - Desmond Rivet's Blog" %}

{% block headtags %} 
<link rel="alternate" type="application/rss+xml" href="/blog/index.rss" 
      title="{{blogtitle}}" />
{% endblock %}

{% block content %}
<div class="row">
  <div id="blogcontent" class="col-md-9">
      <header class="articleheader blogtitle">
          <h1>{{blogtitle}}</h1>
      </header>
      {% block blogcontent %}{% endblock %}
  </div> 

  <div id="sidebar" class="col-md-3">
    <div class="sidebarwrapper">
        <div class="subscribeblog">
            <a href="/blog/index.rss">
                <img src="{{url_for('static',
                          filename='img/feed-icon-14x14.png')}}" 
                     alt="Subscribe vis RSS"/>
                Subscribe
            </a>
        </div>
    {% if categorycounts %}
    <nav>
        <ul class="nav nav-list">
            <li class="nav-header">Categories</li>
            {% for c in categorycounts['blog'].children recursive %}
            <li class="nav-item"><a href="{{categorycountbase}}{{c.category}}">
                    {{c.category}} ({{c.count}})</a>
                {% if c.subcategories %}
                <ul>{{ loop(c.subcategories) }}</ul>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </nav>
    {% endif %}

    {% if tagcounts and tagcounts['blog']|count%}
    <nav>
        <ul class="nav nav-list"> 
            <li class="nav-header">Tags</li>
            {% for tag in tagcounts['blog']: %}
            <li class="nav-item"><a href="/blog/tags/{{tag}}">
                    {{tag}} ({{tagcounts['blog'][tag]}})</a></li>
            {% endfor %}
        </ul>
    </nav>
    {% endif %}

    {% if archivecounts %}
    <nav>
        <ul class="nav nav-list">
            <li class="nav-header">Archives</li>
            {% for year_node in archivecounts['blog'].children  %}
            {% for month_node in year_node.children  %}
            <li class="nav-item">
                <a href="{{ "/blog/%s/%s" % (year_node.category, month_node.category)}}">
                    {{ "%s-%s" % (year_node.category, month_node.category)}}
                    ({{ month_node.count }})</a>
            </li>
            {% endfor %}
            {% endfor %}
        </ul>
    </nav>
    {% endif %}   
    </div>
  </div>

</div>
{% endblock %}
