{% extends "blog/_base_blog_template.html" %}

{% block browsertitle %}
    {{ article.info.title }} - {{blogtitle}} - {{sitetitle}}
{% endblock %}

{% block headtags %}
    <meta name="twitter:card" content="summary" /> 
    <meta property="og:type" content="website" />

    <meta property="og:title" content="{{article.info.title}}" />
    {% if article.info.og_description %} 
    <meta property="og:description" content="{{article.info.og_description|striptags}}" />
    {% else %}
    <meta property="og:description" content="{{article.info.summary|striptags}}" />
    {% endif %}
    <meta property="og:url" content="{{article.info.fullname|url}}" />
    <meta property="og:site_name" content="{{blogtitle}} - {{sitetitle}}" />
   
    {% if article.info.og_image %}
    <meta property="og:image" content="{{article.info.og_image}}" />
    {% else %}
    <meta property="og:image" 
          content="{{'images_from_entries/me_200x200.jpg'|static|url}}" />
    {% endif %}
{% endblock %}

{% block blogcontent %}
    {% if breadcrumbs %}
        <div class="collection_header">
        {% include '_breadcrumbs.html' %}
        </div>
    {% endif %}
    {% include '_article.html' %}
{% endblock %}
