{% extends "blog/_base_blog_template.html" %}

{% block browsertitle %}
    {{ article.info.title }} - {{blogtitle}} - {{sitetitle}}
{% endblock %}

{% block headtags %}
    <meta property="og:title" content="{{article.info.title}}" />
    <meta property="og:description" content="{{article.info.summary|striptags}}" />
    <meta property="og:url" content="{{request.url_root}}{{article.info.fullname}}" />
    <meta property="og:site_name" content="{{blogtitle}} - {{sitetitle}}" />
    <meta property="og:image" 
         content="{{request.url_root}}static/images_from_entries/me_200x200.jpg" />
{% endblock %}

{% block blogcontent %}
    {% if breadcrumbs %}
        <div class="collection_header">
        {% include '_breadcrumbs.html' %}
        </div>
    {% endif %}
    {% include '_article.html' %}
{% endblock %}
