{% extends "blog/base_blog_template.html" %}

{% block browsertitle %}{{config.blogtitle}} - {{collection_title}}{% endblock %}

{% block blogcontent %}
    <div id="collection_header">

      {% if collection_title %}
      <h3 id="collection_title">{{collection_title}}</h3>
      {% endif %}

      {% if breadcrumbs %}
      <div id="breadcrumbs">
          {% for b in breadcrumbs: %}
          <a href="{{b.url|url}}">{{b.crumb}}</a>{% if not loop.last %} / {% endif %}
          {% endfor %}
      </div>
      {% endif %}

      {% if total_pages > 1 %}
      <div id="paging">
          {% if prevpage %}<a href="{{prevpage}}">&lt;</a>{% else %}&lt;{% endif %}
          {{page}} of {{total_pages}}
          {% if nextpage %}<a href="{{nextpage}}">&gt;</a>{% else %}&gt;{% endif %}
      </div>
      {% endif %}
    </div>

    {% for article in articles: %}
    <div class="article">
        <h1><a href="{{ url_for('post', category=article.category, slug=article.slug) }}">{{ article.title }}</a></h1>

        {% include 'blog/article_info.html' %}
       
        {{ article|excerpt|markdown }}
    </div>
    {% endfor %}
{% endblock %}
