{% extends "blog/base_blog_template.html" %}

{% block browsertitle %}{{ article.title }}{% endblock %}

{% block blogcontent %}
   <div id="collection_header">
      {% if breadcrumbs %}
      <div id="breadcrumbs">
          {% for b in breadcrumbs: %}
          <a href="{{b.url|url}}">{{b.crumb}}</a>{% if not loop.last %} / {% endif %}
          {% endfor %}
      </div>
      {% endif %}
    </div>
    <h1>{{ article.title }}</h1>
    {% include 'blog/article_info.html' %}
    <p>{{ article|markdown_content }}</p>
{% endblock %}
