{% extends "base_site_template.html" %}
{% set blogtitle = 'The Soapbox' %}
{% set blogdescription = "Desmond Rivet's Blog" %}

{% block headtags %} 
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='blog.css')}}" />
{% endblock %}

{% block content %}
    {% include 'blog/sidebar.html' %}
    <div id="blogcontent">
        <h1 id="blogtitle">{{blogtitle}}</h1>
        <h2 id="blogdescription">{{blogdescription}}</h2>
        {% block blogcontent %}{% endblock %}
        {% include 'footer.html' %}
    </div>
{% endblock %}
