{% extends "base_site_template.html" %}
{% set blogtitle = 'The Soapbox' %}
{% set blogdescription = "Desmond Rivet's Blog" %}

{% block headtags %} 
<link rel="alternate" type="application/rss+xml" href="/blog/index.rss" 
      title="{{blogtitle}} - {{blogdescription}}" />
{% endblock %}

{% block content %}
<div class="row">
  <div id="blogcontent" class="span8">
    <h1 id="blogtitle">{{blogtitle}}</h1>
    <h2 id="blogdescription">{{blogdescription}}</h2>
    {% block blogcontent %}{% endblock %}
  </div> 
        
  <div id="sidebar" class="span2"> 
    {% if categories.categories %}
    <ul  id="categoryheader" class="nav nav-list span2">
      <li class="nav-header">Categories</li>
      {% for c in categories.categories.subcategories.values() recursive %}
      <li class="nav-item"><a href="{{c.url|url}}">{{c.category}} ({{c.count}})</a>
        {% if c.subcategories %}
        <ul>{{ loop(c.subcategories) }}</ul>
        {% endif %}
      </li>
      {% endfor %}
    </ul>  
    {% endif %}

    {% if tagcounter.article_tags %}
    <ul id="tagheader" class="nav nav-list span2">
      <li class="nav-header">Tags</li>
      {% for tag, info in tagcounter.article_tags.items(): %}
      <li class="nav-item"><a href="{{info.url|url}}">{{tag}} ({{info.count}})</a></li>
      {% endfor %}
    </ul>
    {% endif %}
   
    {% if archivecounter.archives %}
    <ul id="archiveheader" class="nav nav-list span2">
      <li class="nav-header">Archives</li>
      {% for item in archivecounter.archives: %}
      <li class="nav-item">
        <a href="{{item.url|url}}">{{ "%04d-%02d"|format(item.year, item.month)}}
          ({{item.count}})</a>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
    
  </div>
</div>
{% endblock %}
    
