.collection_header {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-radius: 0; 
    margin-bottom: 2.5em;
}

.breadcrumb, .collection_title {
    padding: 0.5em 0;
    margin: 0;
    background-color: white;
}

.pagination {
    float: right;
    margin: 0;
}

footer {
    border-top: 1px solid #ddd;
    padding: 1em 0;
    margin-top: 1em;
}

footer .validator {
    margin-right: 1em;
}

footer .powered-by {
    float: right;
    font-style: italic;
}

#sidebar .nav > li.nav-header {
    cursor: default;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0 0 0.5em 0;
}

#sidebar .nav > li > a {
    padding: 0.1em 0;
}

#sidebar nav {
    margin-bottom: 2em;
}

.sidebarwrapper {
    padding: 1em;
    background-color: #f0f0f0;
}

.articleinfo {
    font-size: 85%;
    color: #777;
}

#social-icons a {
    padding: 10px 3px;
}

/* Putting back the default chrome HTML rendering behaviour */
h1 {
    font-size: 2em;
}

article h1, aside h1, nav h1, section h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.17em;
}

article.entry {
    padding-bottom: 1em;
    margin-bottom: 2em;
}

.readmore {
    margin-top: 1em;
    margin-bottom: 0;
}

.lastmodified {
    font-style: italic;
    margin-top: 2em;
}

.faq h3{
    font-size: 2em;
}

.entry h1 a {
    color: #333333;
}

.entry h1 {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

.articleheader {
    padding-bottom: 0.5em;
    border-bottom: 1px solid #ddd;
    margin-bottom: 1em;
}

.subscribeblog {
    margin-bottom: 2em;
}