body, blockquote p {
    font-size: 12px;
    line-height: 20px;
}

h1, h2, h3, h4, h5, h6, .brand, #sidebar .nav-header {
    font-family: 'Rambla', sans-serif;
}

#sidebar .nav-header {
    font-size: 14px;
}

h1 { font-size: 30px; }
h2 { font-size: 24px; }
h3 { font-size: 19px; }
h4 { font-size: 13px; }
h5 { font-size: 11px; }
h6 { font-size: 9px; }

.well {
    box-sizing: border-box;
}

#searchtext {
    border: none;
    box-shadow: none;
}

#searchbutton {
    background-color: #515151;
    background-image: none;
    border: none;
    box-shadow: none;
    text-shadow: none;
}

#blogtitle, #blogdescription {
    margin: 0px;
}

#header {
    background-image: url('/static/skyline_4.jpeg'); 
}

.navbar {
    margin-bottom: 0px;
}

#content {
    margin-top: 1em;
}

.navbar-inner {
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

#footer {
    overflow: hidden;
    margin-top: 1em;
    padding: 1em 0em 0em 0em;
    border-top: 1px #dddddd solid;
}

#footer img {
    float: left;
}

#footer a {
    margin-right: 1em;
}

#powered-by {
    float: right;
    font-style: italic;
}

#collection_header {
    margin-top: 1em;
    margin-bottom: 1em;
    overflow: hidden;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}

#collection_title {
    float: left;
    margin: 0em;
}

#breadcrumbs {
    float: left;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#breadcrumbs li{
    display: inline-block;
}

#paging {
    float: right;
}

.article {
    margin-top: 1em;
}

.article h3 a {
    color: inherit;
}

.articleinfo {
    font-size: 11px;
    color: #aaaaaa;
    line-height: 1.3em;
    margin-bottom: 1em;
}

.permalink {
    font-style: normal;
}

#sidebar li.nav-item {
    line-height: 12px;
}

#tagheader, #archiveheader {
    margin-top: 2em;
}

#lastmodified {
    margin-top: 3em;
}