{# 
A fairly generic template used site wide (include the blog and the
standalone page) for displaying a list of articles with a header at the top,
which is either the breadcrumbs (for categores) or the collection title in
other cases.
#}

<div class="collection_header">
    {% if collection_title %}
    <div class="collection_title">
        {{collection_title}}
    </div>
    {% elif breadcrumbs %} 
    {% include '_breadcrumbs.html' %}
    {% endif %}
</div>

{% for article in articles: %}
{% include '_entry.html' %}
{% endfor %}

{% include '_pagination.html' %}
