<div class="articleinfo">
    <div>
        <span class="postedon">
            {{article.info.create_time|dateformat('%Y-%m-%d')}}
        </span>
        |
        <span class="postedat">   
            <span class="fa fa-folder"></span> 
            <a href="/{{article.info.fullname}}">
                {{article.info.fullname}}
            </a>
        </span>
        {% if article.info.tags %}         
        |
        <span class="tags">
            <span class="fa fa-tag fa-flip-horizontal"></span>
            {% for tag in article.info.tags: %}
            <a href="{{tagbase}}tags/{{tag}}">{{tag}}</a>{% if not loop.last %},{% endif %}
            {% endfor %}
        </span>
        {% endif %}
       |
        <span class="permalink">
            <a href="{{article.info|permalink}}" title="Permalink">
                <span class="fa fa-bookmark"></span>
            </a>
        </span>
    </div>   
</div>
