<div class="articleinfo">
    <div class="postedin">Posted in 
      <a href="/{{article.info.fullname}}">{{article.info.fullname}}</a>
               on {{article.info.smart_create_time|dateformat('%Y/%m/%d %H:%M')}}
      | <span class="permalink"><a href="{{article.info|permalink}}">Permalink</a></span>
    </div>
    {% set tags = article.info.tags %}
    {% if tags %} 
    <div class="tags">Tags:
        {% for tag in tags: %}
        <a href="{{tagbase}}tags/{{tag}}">{{tag}}</a>{% if not loop.last %},{% endif %}
        {% endfor %}
    </div>
    {% endif %}
</div>
