<div class="articleinfo">
    <div class="postedin">Posted in 
      <a href="/{{info.fullname}}">{{info.fullname}}</a>
               on {{info.create_time|dateformat('%Y/%m/%d %H:%M')}}
      | <span class="permalink"><a href="/{{info.fullname}}">Permalink</a></span>
    </div>
    {% set taglist = info.taglist %}
    {% if taglist %} 
    <div class="tags">Tags:
        {% for tag in taglist: %}
        <a href="{{tagbase}}tags/{{tag}}">{{tag}}</a>{% if not loop.last %},{% endif %}
        {% endfor %}
    </div>
    {% endif %}
    <div class="lastmodified">Last modified on {{info.modified_time|dateformat('%Y/%m/%d %H:%M')}}</div>
</div>
