<!DOCTYPE html>
<html lang="en">
  {% set sitetitle = 'The Low Rent District' %}
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Rambla">
    <link rel="stylesheet" type="text/css" 
          href="{{url_for('static', filename='bootstrap/css/bootstrap.css')}}"/>
    <link rel="stylesheet" type="text/css" 
          href="{{url_for('static', filename='site.css')}}"/>
    <link rel="stylesheet" type="text/css" 
          href="{{url_for('static', filename='pygments.css')}}"/>
    <link rel="stylesheet" type="text/css" 
          href="{{url_for('static', filename='font-awesome/css/font-awesome.min.css')}}">

    {% block headtags %}{% endblock %}
    <title>{% block browsertitle %}{% endblock %}</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-default">
        <div class="container-fluid"> <!-- so that it goes across entire browser-->
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" 
                      data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">{{sitetitle}}</a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul id="nav-links" class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/aboutme">About Me</a></li>
                <li><a href="/blog/">Blog</a></li>
                <li><a href="http://wiki.desmondrivet.com">Wiki</a></li>
              </ul> 
           
              <ul id="social-icons" class="nav navbar-nav navbar-right">
                  <li>
                      <a href="http://www.twitter.com/desmondrivet" title="Twitter">
                          <img src="{{url_for('static',
                                    filename='img/twitter.png')}}" alt="Twitter" />
                     </a>
                  </li>
                  <li>
                      <a href="http://www.facebook.com/desmond.rivet" title="Facebook">
                          <img src="{{url_for('static',
                                    filename='img/facebook.png')}}" alt="Facebook" />
                     </a>
                  </li> 
                  <li>
                      <a href="https://plus.google.com/u/0/117299838889583871071" title="Google+">
                          <img src="{{url_for('static',
                                    filename='img/googleplus.png')}}" alt="Google+" />
                      </a>
                  </li> 
                  <li><a href="https://github.com/drivet" title="GitHub">
                          <img src="{{url_for('static',
                                    filename='img/github.png')}}"
                                    alt="Github" />
                     </a>
                  </li> 
                  <li>
                      <a href="http://ca.linkedin.com/in/desmondrivet" title="LinkedIn">
                          <img src="{{url_for('static',
                                    filename='img/linkedin.png')}}"
                                    alt="LinkedIn" />
                     </a>
                  </li>
              </ul> 
              <form action="/search" method="get" class="navbar-form navbar-right">
                  <div class="form-group">
                      <input id="searchtext" class="form-control"
                             type="text" name="searchtext" placeholder="Search" />
                  </div>
              </form>
          </div>
        </div>
      </nav>
    </header>
    <div class="container"> 
      <div id="content" class="row">
          <div class="col-md-10 col-md-offset-1">
            {% block content %}{% endblock %}
          </div>
      </div>
      <div id="footer" class="row"> 
          <footer class="col-md-10 col-md-offset-1">
              <a class="validator" 
                 href="http://validator.w3.org/check/referer">Valid HTML5</a>
              <a class="validator" 
                 href="http://jigsaw.w3.org/css-validator/check/referer?profile=css3">Valid CSS 3</a>
              <div class="powered-by">Powered by <a href="http://github.com/drivet/yawt">YAWT</a></div>
          </footer>
      </div>
    </div>

    <script src="{{url_for('static', filename='jquery-1.9.1.js')}}" 
            type="text/javascript"></script>

    <script src="{{url_for('static', filename='bootstrap/js/bootstrap.js')}}" 
            type="text/javascript"></script>

    {% include '_piwik.html' %}
  </body>
</html>
