<div class="articleinfo">
    <div class="postedin">Posted in 
      <a href="/{{article.fullname}}">{{article.fullname}}</a>
               on {{article.ctime_tm|dateformat('%Y/%m/%d %H:%M')}}
      | <span class="permalink"><a href="{{article|permalink}}">Permalink</a></span>
    </div>
    {% set taglinks = article|tags %}
    {% if taglinks %} 
    <div class="tags">Tags:
        {% for tl in taglinks: %}
        <a href="{{base}}{{tl.url}}">{{tl.tag}}</a>{% if not loop.last %},{% endif %}
        {% endfor %}
    </div>
    {% endif %}
    <div class="lastmodified">Last modified on {{article.mtime_tm|dateformat('%Y/%m/%d %H:%M')}}</div>
</div>
