<div id="header">
    <div id="site-title-wrapper">
        <h1>{{sitetitle}}</h1>
    </div>
    <div id="header-background"></div>
    <div id="nav-links-wrapper">
        <ul id="nav-links">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('post_slug', slug='aboutme') }}">About Me</a></li>
            <li><a href="{{ url_for('category_canonical', category='blog')}}">Blog</a></li>
            <li><a href="http://wiki.desmondrivet.net">Wiki</a></li>
        </ul>
    </div>
</div>
