.fa-facebook-square {
    color: #4d67a3;
}

.fa-instagram {
    color:  #8a3ab9
}

.fa-twitter {
    color: #25a7df;
}

.fa-linkedin-in {
    color: #0178b5;
}

.fa-rss-square {
    color: #ffa872
}

body {
    padding-top: 56px;
}

.navbar-main {
    box-shadow: 0px 1px 4px 1px lightgrey;
}

.navbar-secondary {
    padding-top: 1em;
    padding-bottom: 1em; 
}

.maincontent {
    padding-top: 1em;
}

.navbar-secondary {
    border-bottom: 1px solid #eee;
}

.navbar-secondary .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.social-nav {
    margin-right: 0.5em;
}

.social-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.h-entry .card-body p:last-child {
    margin-bottom: 0px;
}

.h-entry .title a, .h-entry a.title, .h-entry .title, .page-header .title {
    color: black;
}

/* article titles are links, but I don't want them to
   look like links */
article h1, article h2, article h3, article h4,  article h5, article h6 {
    color: black;
}

.article-info {
    font-size: smaller;
    margin-bottom: 0.5rem;
}

.article-info-span:first-child {
    margin-left: 0px;
}

.article-info-span {
    margin-left: 0.3em;
    margin-right: 0.3em;
}

.entry-content {
    margin-bottom: 2rem;
}

.h-entry h1, .h-entry h2, .h-entry h3,
.h-entry h4, .h-entry h5, .h-entry h6 {
    margin-bottom: 1rem;
}

.rsslinks span {
    margin-right: 0.25em;
}

.page-header {
    margin-top: 2em;
}
